<html class = "font-sans bg-gray-100 min-h-screen w-full h-full flex">
    <head>
    </head>

    <body class = "flex">
        
        <app-sidebar></app-sidebar>
        


        <div class="hidden xl:block float-right px-16 py-4">
            <h2 class="text-2xl font-bold mb-4">Adding and Connecting Boards</h2>
            <div class = "float-left">
                
                <p>Now that you have made your project, it is time to specify the hardware.</p>
                <p>Click the pencil icon at the top right to edit the boards of your project.</p>
                <img src="assets/tutorial/step2_1.png" class="my-5 h-auto max-w-full rounded-lg" width=500 height=500/>

                <p> This will bring you to the following menu, in which you can place your </p>
                <p> boards. Simply click the <q>add board</q> button, and choose a main board. </p>

                <img src="assets/tutorial/step2_2.png" class="my-5 h-auto max-w-full rounded-lg" width=500 height=500/>
            </div>
            <div class = "float-right px-16">
                <p> If you choose to add auxillary boards, they can be connected by hovering over</p>
                <p> pins until they turn green, and then connecting them to other available pins </p>
                <p> Not all pins may be available. This is an example of a valid connection: </p>

                <img src="assets/tutorial/step2_3.png" class="my-5 h-auto max-w-full rounded-lg" width=500 height=500/>

                <p> Click <q>start development</q> to resume. Iron Coder also allows you to do this during project creation! </p>
                <p> Additionally, Iron Coder has project settings so that you may customize your environment: </p>

                <img src="assets/tutorial/step2custom.png" class="my-5 h-auto max-w-full rounded-lg" width=500 height=500/>

            </div>

        </div>
        <div class = "xl:hidden px-8 py-4 float-left">
            <h2 class="text-2xl font-bold mb-4">Adding and Connecting Boards</h2>
            <p>Now that you have made your project, it is time to specify the hardware.</p>
            <p>Click the pencil icon at the top right to edit the boards of your project.</p>
            <img src="assets/tutorial/step2_1.png" class="my-5 h-auto max-w-full rounded-lg" width=500 height=500/>

            <p> This will bring you to the following menu, in which you can place your </p>
            <p> boards. Simply click the <q>add board</q> button, and choose a main board. </p>

            <img src="assets/tutorial/step2_2.png" class="my-5 h-auto max-w-full rounded-lg" width=500 height=500/>
    
            <p> If you choose to add auxillary boards, they can be connected by hovering over</p>
            <p> pins until they turn green, and then connecting them to other available pins </p>
            <p> Not all pins may be available. This is an example of a valid connection: </p>

            <img src="assets/tutorial/step2_3.png" class="my-5 h-auto max-w-full rounded-lg" width=500 height=500/>

            <p> Click <q>start development</q> to resume. Iron Coder also allows you to do this during project creation! </p>
            <p> Additionally, Iron Coder has project settings so that you may customize your environment: </p>

            <img src="assets/tutorial/step2custom.png" class="my-5 h-auto max-w-full rounded-lg" width=500 height=500/>

        </div>
    </body>
</html>