<html>
    <head>
    </head>
    <body class="h-screen bg-gray-100 flex items-center justify-center">
        <div class="m-auto text-center"> 
            <h1 class="text-6xl text-red-500 font-bold mb-4">404</h1>
            <p class="text-gray-800 text-xl">This page is coming soon or may not exist.</p>
            <p class="text-gray-600 mt-2">Come back later!</p>
            <a routerLink="/home" class="text-blue-500 hover:underline mt-4 inline-block">Go back to the home page</a>
        </div>
    </body>
</html>