<html class = "font-sans bg-secondary min-w-dvw min-h-dvh" style="overflow-y: auto;">
    <head>
    </head>

    <body class = "flex flex-row">  <!-- sidebar and rest of component side by side-->
        <div>
            <app-sidebar></app-sidebar>
        </div>
        
        <div class="flex flex-col px-16 py-4">
            
            <div>
                <h2 class="text-2xl font-bold mb-4">Developing</h2>
            </div>
            
            <div class = "lg:flex lg:flex-row">

                <div>
                    <p> With the project fully initialized, you are free to start coding!</p>
                    <p> You may add files to the project yourself, or click <q>Gen Template</q></p>
                    <img src="assets/tutorial/step3_1.png" class="my-5 h-auto max-w-full rounded-lg" width=500 height=500/>

                    <p> Clicking <q>Gen Template</q> will create a file <q>main.rs</q> that will serve as an </p>
                    <p> entry point for development. To access it, and any other files, switch to </p>
                    <p> the <q>File Explorer</q> tab. Iron Coder will display useful information for </p>
                    <p class="mb-4"> your board, including  any available crates!</p>

                    <p> Once you are satisfied with your changes, press <q>build project</q> to compile</p>
                    <p> and <q>load onto board</q> to flash your changes to your board of choice. </p>

                    <img src="assets/tutorial/step3_2.png" class="my-5 h-auto max-w-full rounded-lg" width=500 height=500/>

                    <p> For board-specific flashing instructions, see the <q>Supported Boards</q> section of</p>
                    <p> the homepage.</p>

                    
                    
                    

                </div>

                <div class = "lg:px-16">
                    
                    <p> That concludes this tutorial, and we hope you enjoy Iron Coder!</p>
                    
                </div>

            
            </div>
            

        </div>
    </body>
</html>