<div class="bg-primary text-white px-8 py-4 rounded-b-lg h-screen">
    <h2 class="text-2xl font-bold mb-4">Project Tutorial</h2>
    <div class = "flex flex-col gap-4">
        <ul>
            <li><a routerLink="/project_tutorial/step1" class="hover:underline text-white-500">1. Creating a Project</a></li>
            <li><a routerLink="/project_tutorial/step2" class="hover:underline text-white-500">2. Adding and Connecting Boards</a></li>
            <li><a routerLink="/project_tutorial/step3" class="hover:underline text-white-500">3. Developing Software and Flashing Boards</a></li>    
        </ul>
        <p class="mt-80"><a routerLink="/home" class="hover:underline text-white-500">Back to Home</a></p>
    </div>
</div>



