<html class = "font-sans bg-secondary min-w-dvw min-h-dvh" style="overflow-y: auto;">
    <head>
    </head>

    <body class = "flex flex-row">  <!-- sidebar and rest of component side by side-->
        
        <div>
            <app-sidebar></app-sidebar>
        </div>
        
        <div class="px-16 py-4 flex flex-col"> <!-- next two divs (title and page contents) up and down-->

            <div>
                <h2 class="text-2xl font-bold mb-4">Adding and Connecting Boards</h2>
            </div>
        
            
            <div class = "lg:flex lg:flex-row"> <!-- page contents next to each other, but only on larger screens -->
                <div>
                    <p>Now that you have made your project, it is time to specify the hardware.</p>
                    <p>Click the pencil icon at the top right to edit the boards of your project.</p>
                    <img src="assets/tutorial/step2_1.png" class="my-5 h-auto max-w-full rounded-lg" width=500 height=500/>
    
                    <p> This will bring you to the following menu, in which you can place your </p>
                    <p> boards. Simply click the <q>add board</q> button, and choose a main board. </p>
    
                    <img src="assets/tutorial/step2_2.png" class="my-5 h-auto max-w-full rounded-lg" width=500 height=500/>
                </div>
                <div class = "lg:px-16">
                    <p> If you choose to add auxillary boards, they can be connected by hovering over</p>
                    <p> pins until they turn green, and then connecting them to other available pins </p>
                    <p> Not all pins may be available. This is an example of a valid connection: </p>
    
                    <img src="assets/tutorial/step2_3.png" class="my-5 h-auto max-w-full rounded-lg" width=500 height=500/>
    
                    <p> Click <q>start development</q> to resume. Iron Coder also allows you to do </p>
                    <p> this during project creation! Additionally, Iron Coder has project settings </p>
                    <p> so that you may customize your environment: </p>
    
                    <img src="assets/tutorial/step2custom.png" class="my-5 h-auto max-w-full rounded-lg" width=500 height=500/>
    
                </div>
            </div>
            

        </div>
        
    </body>
</html>