
<div class = "flex flex-col h-screen">

    <header class="bg-primary p-4 text-white flex justify-between font-custom"> 
        <!--If you want to center div A and right align div B, you need to make an invisible copy of div B and place it before div A-->
        <h1 class="text-2xl font-semibold">Forums</h1>
        
        <div class = "flex flex-row grow-0 items-center justify-center">
            
            <button mat-icon-button (click)="hide()" class="text-2xl">
                <mat-icon class="py-1">edit_note</mat-icon>
            </button>

            <button mat-icon-button [routerLink]="['/home']" class="px-4 text-2xl">
                <mat-icon class="py-1">home</mat-icon>
            </button>
            
            


            <img
                class = "rounded-full mr-2"
                width = "35"
                height = "35"
                src = "assets/default_pfp.jpg"
            
            />
            <p class ="text-2l">{{ getUser() }}</p> 

        </div>
    </header>
    <div class = "font-custom flex justify-between h-screen">

        

        
        <div class = "bg-secondary flex-grow flex flex-col items-center py-4" >

            <div [hidden]="hidden">
                <form
                class="bg-accent md:p-4 flex flex-col w-11/12 max-w-lg group"
                novalidate
                action = "/createNewPost"
                method="post"
                [formGroup]="postForm">

            
                

                <label for="header" class="mb-5">
                    <input
                    [(ngModel)]="header" 
                    type="text"
                    name="header"
                    id="header"
                    class="w-full bg-secondary p-3 mt-2 appearance-none outline-none text-neutral-800 peer invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-500"
                    placeholder="Header"
                    formControlName="headerControl"
                    required
                    />
                    <input
                    [(ngModel)]="body" 
                    type="text"
                    name="body"
                    id="body"
                    class="w-full bg-secondary p-3 mt-2 appearance-none outline-none text-neutral-800 peer invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-500"
                    placeholder="Body"
                    formControlName="bodyControl"
                    required
                    />
                </label>

                <button (click)="submit()" type="submit" class ="w-auto  bg-primary py-3 w-auto rounded-md text-white group-invalid:pointer-events-none group-invalid:opacity-30" >Post</button>

                </form>
            </div>

        
            <div class="w-full bg-primary border-t border-neutral-300 my-5 items-center justify-center"></div>
            <div class="flex flex-col cursor-pointer" *ngFor="let post of recentPosts">
            

                <div class="px-16 py-4 flex flex-col overflow-hidden opacity-100 hover:opacity-50" style="width:900px" [routerLink]="'/messages/' + post._id" > <!--Div for each message-->
                    <div class="w-full truncate">
                        <h3 class="bg-tertiary text-white px-2">{{ post.header }}</h3>
                        <p class="bg-accent text-black px-2 py-2 truncate">{{ post.text }}</p>
                    </div>

                    <div class="bg-accent flex flex-row justify-between">
                        <div class="flex flex-row">   
                            <mat-icon [ngStyle]="{ 'color': likedByUser(post) ? '#ef4444' : '#6b7280' }">thumb_up_off_alt</mat-icon>
                            <p class="text-m" [ngClass]="{ 'text-primary': likedByUser(post), 'text-tertiary': !likedByUser(post) }">{{ post.likedby.length }}</p>
                        </div>            
                        <p class ="text-m text-tertiary">{{ post.createdAt | time }} </p>
                    </div>
           




                </div>
                
            
            </div>
            
            <div *ngIf = "!recentPosts || recentPosts.length === 0">
                <p>No messages found</p>
            </div>
        
        </div>

    </div>

    
    <mat-paginator 
        [length]="totalPosts"
        [pageSize]="postsPerPage"
        [pageIndex]="currentPage - 1"
        aria-label="Select page"
        [showFirstLastButtons]="true"
        [pageSizeOptions]="[5,10,15,20]"
        (page)="pageChanged($event)">
    </mat-paginator>
    

</div>