<html class = "font-custom bg-secondary" style="overflow-y: auto;">
    <head>
    </head>

    <body class="flex flex-row"> <!--sidebar and page contents side by side-->
        

        <app-sidebar></app-sidebar>
        
        <div class="px-16 py-4 flex flex-col"> <!--Next two divs up and down-->
            
            <div>
                <h2 class="text-2xl font-bold mb-4">Creating a Project</h2>
            </div>

            <div class = "lg:flex lg:flex-row"> <!--Next two divs side by side-->
                
                <div>
                    <p>The very first step to get developing in Iron Coder is making a project.</p>
                    <p>Every project needs a name and at least one main board.</p>
                    <p>For this example, we will be creating a project <q>my_project</q> and using the</p>
                    <p>RP2040 as our main board. </p>
                    <p>For now, simply name the project, and then click <q>start_development</q></p>
                
                    <img src="assets/tutorial/step1.png" alt = "Main project creation menu of Iron Coder" class="my-5 h-auto max-w-full rounded-lg" width=500 height=500/>

                    <p> If this is your first project, you will be asked to choose a directory to save</p>
                    <p> projects to. Afterwards, your project is ready! </p>
                </div>

                <div class="lg:px-16">
                    <p> If you have already created a project, you may open it from this menu as well: </p>
                    <img src="assets/tutorial/step1_2.PNG" alt = "How to open projects from Iron Coder" class="my-5 h-auto max-w-full rounded-lg" width=500 height=500/>
                </div>

            </div>


        </div>

      
       

        
    </body>
</html>
