<html>
    <head>
        
    </head>
    <body class ="bg-secondary">
        <header class="bg-primary p-4 text-white flex items-center justify-center">
            <h1 class="text-2xl font-semibold">Iron Coder</h1>
        </header>


        <nav class="bg-tertiary text-white py-2 gap-4 p-8">
            <ul class="flex space-x-20 justify-left">
                <li><a href="https://github.com/shulltronics/iron-coder" class="hover:underline">GitHub</a></li>
                <li><a routerLink="/404" class="hover:underline">Forums</a></li>
                <li><a routerLink="/404" class="hover:underline">About</a></li>
                <li><a routerLink="/404" class="hover:underline">Online Editor</a></li>
            </ul>
        </nav>
        
        <div class="grid grid-cols-3 gap-4 p-4">
            <div class="bg-accent text-white text-center">
                <h2 class="bg-tertiary text-lg w-full p-2">Getting Started</h2>
                <ul class="text-left text-black space-y-4 mt-2 ml-2 mb-2">
                    <li><a routerLink="/project_tutorial" class="hover:underline hover:text-blue-500 hover:border-b-2 border-transparent">Making your First Project</a></li>
                    <li><a routerLink="/board_tutorial" class="hover:underline hover:text-blue-500 hover:border-b-2 border-transparent">Creating Custom Boards</a></li>
                    <li><a routerLink="/404" class="hover:underline hover:text-blue-500 hover:border-b-2 border-transparent">Generating code <p class="text-xs text-primary">(coming soon!)</p></a></li>
                    
                </ul>
            </div>
            <div class="bg-accent text-white text-center">
                <h2 class="bg-tertiary text-lg w-full p-2">Supported Boards</h2>
                    <ul class="text-left text-black space-y-4 mt-2 ml-2 mb-2">
                        <li><a routerLink="/rp2040" class="hover:underline hover:text-blue-500 hover:border-b-2 border-transparent">Raspberry Pi Pico 2040</a></li>
                        <li><a routerLink="/404" class="hover:underline hover:text-blue-500 hover:border-b-2 border-transparent">MicroMod-ESP32 <p class="text-xs text-primary">(coming soon!)</p> </a></li>
                        
                    </ul>
            </div>
            <div class="bg-accent text-white text-center">
                <h2 class="bg-tertiary text-lg w-full p-2">Installation</h2>
                    <ul class="text-left text-black space-y-4 mt-2 ml-2 mb-2">
                        <li><a routerLink="/404" class="hover:underline hover:text-blue-500 hover:border-b-2 border-transparent">Windows 64-bit <p class="text-xs text-primary">(coming soon!)</p> </a></li>
                        <li><a routerLink="/404" class="hover:underline hover:text-blue-500 hover:border-b-2 border-transparent">Mac/OSX <p class="text-xs text-primary">(coming soon!)</p> </a></li>
                        <li><a routerLink="/404" class="hover:underline hover:text-blue-500 hover:border-b-2 border-transparent">Linux <p class="text-xs text-primary">(coming soon!)</p> </a></li>
                    </ul>
            </div>
        </div>


        
    </body>
</html>